# Archivos de Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Directorios y archivos de compilación
bin/
obj/
*.exe
*.dll
*.pdb
*.cache

# Archivos de Docker temporales
Dockerfile.txt
Dockerfile.original

# Archivos de NuGet y .NET
packages/
*.nupkg
**/obj/*.nuget.*
**/obj/project.assets.json
**/obj/project.nuget.cache
**/obj/Debug/
**/obj/Release/
**/obj/*.csproj.nuget.*
**/obj/Debug/net9.0/*

# Archivos de caché y configuraciones locales
[Tt]humbs.db
*.DS_Store
appsettings.Development.json
*.config
*.userprefs

# Herramientas de desarrollo
_ReSharper.*/
*.resharper

# .NET build folders
**/obj/